* {
  margin: 0;
}

.timer {
  grid-area: timer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #080e33;
  font-weight: bold;
  padding: 20px;
  font-family: "Vampiro One", cursive;
  font-size: 2rem;
}

.hide {
  display: none;
}
