.logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #080e33;
  font-weight: bold;
  font-size: 4rem;
  padding: 20px;
  font-family: "Vampiro One", cursive;
  color: #ffff05;
}

#spinner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }
  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }
  50% {
    text-shadow: 0 0 black;
  }
  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }
  100% {
    text-shadow: 0 0 black;
  }
}
