.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1f3a;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Vampiro One", cursive;
}
