.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "logo   title  timer"
    "main   main   main";
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: #000140;
  color: whitesmoke;
}

.title {
  background-color: #000140;
}

@font-face {
  font-family: "Vampiro One", cursive;
  src: url(./fonts//Vampiro_One/VampiroOne-Regular.ttf);
}
